main{
    background-color: green;
}

.element1{
    background-color: red;
}

.element2{
    background-color: blue;
}

.element3{
    background-color: orange;
}

.element4{
    background-color: fuchsia;
}