body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: mintcream;
}
html {
    font-family: "cursive", sans-serif;
}
header{
    height: 50%;

}




li a:hover, .dropdown:hover .dropbtn {
    background-color:greenyellow;

}






















































































header{
    background-color: aquamarine;
}
main{
    background-color: yellow;
}
aside{
    background-color: red;
}
section{
    background-color: purple;
}

footer{
    background-color: #4CAF50;
}

