body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: cornsilk;
}
html {
    font-family: "cursive", sans-serif;
}
header{
    height: 50%;
    background-color: crimson;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: crimson;
    overflow: auto;
}

li a {
    display: block;
    color: navy;
    padding: 10px 0 8px 10px;
    text-decoration: none;

}


li a:hover, .dropdown:hover .dropbtn {
    background-color:darkred;

}


h1,p{
    text-align: center;
    color: navy;
}

/**  Styling Table............**/

th {
    background-color: crimson;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid crimson;
}

td{
    vertical-align: bottom;
}

tr:hover {background-color: darkred;}

aside {
    padding-right: 0px !important;
    margin-top: -5px !important;
}









footer>p{
    text-align: center;
   color:navy;
}
#footer{
    background-color: crimson;

    height: 150px;
 /   clear: both;
    /*  width: 100%; */
}




















































































/**

header{
    background-color: aquamarine;
}
main{
    background-color: yellow;
}
aside{
    background-color: red;
}
section{
    background-color: purple;
}

footer{
    background-color: #4CAF50;
}

**/
