body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: mintcream;
}

header{
    background-color: #066;
    margin-left: 200px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 10px 0 8px 10px;
    text-decoration: none;

}
li a:hover, .dropdown:hover .dropbtn {
    background-color:greenyellow;

}
#header{
    align-items:center;

}

input[type=text] {
    width: 65%;
    padding-left: 20px;
   // padding: 15px 20px;
    margin: 15px 0;
    box-sizing: border-box;
}

h1,h3{
    color: greenyellow;
}
h4{
    color: darkgreen;
}

input[type=submit]{
    float: right;
}




footer>p{
    text-align: center;
    color:greenyellow;
}
.footer{
    background-color:  #066;

    height: 150px;
    clear: both;
    /*  width: 100%; */
}

#logo{
    width: 100px;
    float: left;
    height: 100px;
}