
body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: mintcream;
}
/* this is to control the navigation bar */
header{
    background-color: #066;
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li{
    float:left;
}

nav>ul>li a {
    display: block;
    color: darkred;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover{
    color: goldenrod;
}
/* End of Navigation bar Control */

footer>p{
    text-align: center;
    color:darkred;
}
.footer{
    background-color:  #066;

    height: 150px;
    clear: both;
  /*  width: 100%; */
}
.logo{
    width: 100px;
    height:100px ;
}

