body{
    background-color: midnightblue;
}


h3, h1{

    text-align: center;
}
h3 {
    color: mintcream;
}
h1{
    color: mintcream;
}

form{

    text-align: center;
}

input{
    border: 2px solid mintcream;
    border-radius: 4px;
}

label{
    color: mintcream;
}

