body{
    background-color: aqua;
}



h3 h1{
    color: #782A7E;
    text-align: center;
}
form{

    text-align: center;
}

input{
    border: 2px solid purple;
    border-radius: 4px;
}
input[type=text] {
    color: mintcream;
}

